Question :1


A database is a structured collection of data that is organized and stored in a computer system. It is designed to efficiently store, retrieve, and manage large amounts of information.

Differences between SQL and no SQL are :

1. SQL databases use a structured data model, organizing data into tables with predefined schemas. NoSQL databases use various data models such as key-value pairs, documents, columnar, or graph-based models

2. SQL databases use the Structured Query Language (SQL) for data manipulation ,NoSQL databases often have their own query languages or APIs specific to their data models.

Question :- 2

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database

CREATE: The CREATE statement is used to create new database objects.

CREATE DATABASE test

DROP: The DROP statement is used to remove or delete database objects. It permanently deletes the specified object from the database.

DROP c1

ALTER: The ALTER statement is used to modify the structure of existing database objects. It allows you to add, modify, or delete columns, constraints, and other properties of database objects. 

ALTER TABLE test_table 
ADD column c5 INT

TRUNCATE: The TRUNCATE statement is used to remove all data from a table, effectively resetting it to its original structure.

TRUNCATE TABLE test_table


DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate and modify the data stored in a database

INSERT: The INSERT statement is used to insert new data records into a table. 

mydb = mysql.connector.connect(
    host = "localhost",
    user ="abc",
    password = "password"
)

mycursor = mydb.cursor()
mycursor.execute("insert into test2.test_table values (123, 12.25 , 'faiz' , 451, 'aamu')")

UPDATE: The UPDATE statement is used to modify existing data records within a table.

UPDATE Employees
SET Salary = 6000.00

DELETE: The DELETE statement is used to remove specific data records from a table based on certain conditions.

DELETE FROM Employees
WHERE EmployeeID = 1;

Question :- 4


DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve or query data from a database. DQL statements are primarily focused on retrieving specific data records or sets of data that meet certain criteria

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database.

SELECT EmployeeID, Name, Department
FROM Employees
WHERE Department = 'HR';

Question :- 5


Primary Key:

A primary key is a unique identifier for each record in a database table. It uniquely identifies a row and ensures that no two rows have the same key value.

1.Every primary key value within a table must be unique. No two records can have the same primary key value.

2.Primary key values cannot be NULL. Each record must have a valid and non-null primary key value.

Foreign Key:

A foreign key establishes a relationship between two tables in a relational database. It represents a column or a set of columns in one table that refers to the primary key in another table. 

1. A foreign key establishes a relationship between two tables based on their primary key and foreign key columns.

2.  The foreign key relationship typically represents a many-to-one relationship between tables, where multiple records in the referencing table can refer to a single record in the referenced table.

Question :- 6

import mysql.connector 
mydb = mysql.conneector.connect(

HOST = "localhost",
user = "ABC",
passsword = "FAIZ@123"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOWDATABASE")
mydb.close()

1. cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries and fetch the results.

2. execute(): The execute() method is used to execute an SQL query or command.


In an SQL query, the clauses are generally executed in the following order:

FROM: The FROM clause specifies the table(s) from which the data will be retrieved. It identifies the source table(s) involved in the query.

WHERE: The WHERE clause filters the data based on specified conditions. It is used to define criteria that determine which records will be included in the result set.